{% extends "bootstrap/base.html" %}

{% block title %}Pi Relay Controller{% endblock %}

{% block head %}
{{ super() }}
<link href="{{ url_for('static', filename='css/sticky-footer-navbar.css') }}" rel="stylesheet">
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/sweetalert2.js') }}"></script>
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Pi Relay Controller</a>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  {% block page_content %} {% endblock %}
</div>
{% endblock %}
